@model RepairTracker.DBModels.RepairNote
@{
    int index = ViewData["Index"] as int? ?? 0;
}

@if (Model is not null)
{
    <tr class="row">
        <td class="col-md-1">
            <input type="button" value="X" class="btn btn-danger scaleDown" onclick="deleteNoteLine(this, @Model.RepairNoteId);" />
        </td>

        <td class="col-md-2">
            @Model.NoteDate
        </td>

        <td class ="col-md-9">
            <input type="text" asp-for="@Model.Note" class="form-control note note-content" id="note_@index" name="Repair.RepairNotes[@index].Note" value="@Model.Note" data_note_id="@Model.RepairNoteId" />

@*             @Html.EditorFor(model => model.Note, new
                {
                    htmlAttributes = new
                    {
                @class = "form-control note note-content", 
                @id = "note_" + index, 
                @rows = "3", 
                data_note_id = @Model.RepairNoteId ,
                @name = "Repair.RepairNotes[" + index + "].Note"
            } }) *@
        </td>
    </tr>
}

