@model IList<RepairTracker.DBModels.Repair>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ReceivedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].FinishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Technician)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.GameId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Technician.TechnicianId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RepairId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RepairId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RepairId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
